/* ContactDetails.module.css */

.back {
    margin-bottom: 20px;
  }
  
  .lab {
    color: #333;
  }
  
  .profile {
    margin-bottom: 20px;
  }
  
  .space {
    margin-bottom: 10px;
  }
  
  .space label {
    display: block;
    margin-bottom: 5px;
    color: #666;
  }
  
  .space input {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0.5rem;
  }
  
  .btn button:hover {
    background-color: #0056b3;
  }
  
  .link button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .link button:hover {
    background-color: #218838;
  }
  
  .form{
    border: 2px solid white;
    margin-left: 1.5rem;
    margin-top: 1rem;
  }